<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About (UPDATE ME)</h2>
        <hr class="short-rule">
      </div>
    </div>
    <div class="row">
      <!-- Column for Headshot -->
      <div class="col-lg-4 col-lg-offset-1 text-center">
        <img src="img/about/headshot.png" alt="Joshua J. Hamilton" class="img-responsive img-circle" style="max-width: 100%;">
      </div>
      <!-- Column for Bio -->
      <div class="col-lg-6">
        <p>Hello! I'm Joshua J. Hamilton, PhD, a bioinformatics consultant specializing in preclinical biotech startups. I provide services ranging from infrastructure deployment and pipeline development to data analysis and algorithm design. My research background in microbial genomics and the microbiome enables me to deliver deep insights into complex biological data.</p>
        <p>With a passion for solving challenging problems in bioinformatics, I aim to empower startups with the tools and expertise they need to succeed in their research and development efforts.</p>
      </div>
    </div>
  </div>
</section>
