<!-- Services Grid Section -->
<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Services</h2>
        <hr class="short-rule">
      </div>
    </div>
    <div class="row">
      {% for service in site.services %}
      <div class="service-row">
        <div class="service-title">
          <h2>{{ service.title }}</h2>
        </div>
        <div class="service-bullets">
          <ul>
            {% for bullet in service.bullets %}
            <li><h3>{{ bullet }}</h3></li>
            {% endfor %}
          </ul>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>