<!-- Header -->
<header>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="intro-text">
          <span class="name"><em>Trophic</em>: relating to the position an organism occupies within an ecosystem</span>
          <p></p>
          <span class="name"><em>Nexus</em>: a connection or link between things</span>
          <p></p>
          <span class="name non-centered">
            A nod to my background in microbial ecology, the name Trophic Nexus reflects my ability to connect different disciplines and areas of expertise through the lens of bioinformatics. With an array of bioinformatics services, I am confident I can fill the niche your data team needs to thrive.
          </span>
        </div>
      </div>
    </div>
  </div>
</header>